/* 
		Name: NUR YASMIN BINTI MOHD KAHAR
		Date: 25/5/2021
*/

/*Background Image/Color*/
body{
	background-image: url("butterfly.jpg");
 	background-color: #F5CDF2;
}
/*Navigation Bar*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D0F4B0;
}

li{
  float: left;
  border-right:2px solid #ACD985  ;
}

li:last-child{
  border-right: none;
}

li a{
  display: block;
  font-family: OCR A Std, monospace;
  color: #556349 ;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #A6E06F ;
} 
.active{
  background-color: #ACD985 ;
}
/*End Navigation Bar*/
/*link*/
a#link:link{
  color: black;
}
a#link:visited{
  color: red;
}
a#link:hover{
  color: #D2B4DE;
}
a#link:active{
  color: #344BB9 ;
}
/*End link*/

/*index page*/
h1.biodata{ 
	color: purple;
	font-family: Verdana, sans-serif;
	text-align: center;
 }
#mypicture{
	width: 250px;
	border: 10px solid #ACD985;
	background-color: #D0F7A8;
	padding: 20px;
	margin: 10px;
}
footer{
 	font-family: Arnoldboecklin, fantasy;
 	font-size: 15px; 
 }
h2#indexpage{
 	text-decoration: underline wavy #A8A9F7;
 	font-family: Comic Sans MS, Comic Sans, cursive;
 	text-align: center;
 	font-size: 28px;
 	color: #363E66;
 }
p.indexpage{
	font-family: Comic Sans MS, Comic Sans, cursive;
 	text-align: center;
 	color: #363E66;
}
 /*End index page*/

 /*skills page*/
h1.skill{
 	color: purple;
 	font-family: Verdana, sans-serif;
 	text-align: center;
}
h2#skillpage{
	font-family: OCR A Std, monospace;
	font-size: 25px;
	text-align: center;
	width: 250px;
  	border: 7px;
  	border-radius: 8px;
  	padding: 7px;
  	margin: 5px;
  	color: #344BB9;
  	background-color: #C1CBFF;
  	text-decoration: underline dotted #344BB9;
}
p.skillpage{
	font-family: Courier, monospace;
	font-size: 20px;
	color: black;
}
{box-sizing: border-box;}
.container {
  width: 100%;
  background-color: none; 
}
.skills{
  text-align: right;
  font-family: OCR A Std, monospace; 
  padding-top: 5px; 
  padding-bottom: 5px;
  color: #344BB9  ;
}
.html {width: 80%; background-color: #AED6F1;}
.cplusplus {width: 85%; background-color: #A9CCE3;} 
.java {width: 90%; background-color: #D2B4DE;} 
.photoshop {width: 95%; background-color: #EC9EDB ;} 
 }
#artwork{ 
    text-align:center;
}
.img{
	align-items: center;
	position: relative;
	justify-content: center;
    display:inline-block;
    margin:5px 20px;
    padding:5px;
}
/*End skill page*/

/*contact page*/
h1.contact{
	color: purple;
	font-family: Verdana, sans-serif;
	text-align: center;
}
h2#contactpage{
	font-family: Noto Sans, sans-serif;
	color: #472E57;
	font-size: 25px;
}
fieldset{
	background-color: rgb(247, 249, 184);
	border-radius: 8px;
	border-style: none;
	font-family: Noto Sans, sans-serif;
	margin: 5px;
	border: 10px solid #FDC048 ;
	padding: 10px;
}
legend{
	padding: 10px;
	background-color: rgb(253, 192, 72);
	border-radius: 8px;
	color: white;
	font-family: Noto Sans, sans-serif;
}
input,textarea {
	padding: 5px;
	width: 80%;
	border-radius: 8px;
	border-style: none;
}
input[type=submit],[type=reset]{
	background-color: #FDC048;
	color: white;
	font-family: Noto Sans, sans-serif;
	font-size: 16px;
	width: 100px;
	border-radius: 5px;
	border: none;
}
/*End contact page*/
